@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Young+Serif&display=swap');

h1, h2 {
    font-family: 'Young Serif', serif;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: #0b083d;
    font-size: larger;
    line-height: 2rem;
}

header {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding: 2rem;
    background-color: #ff7e1b;
    color: #0b083d;
}

main {
    width: 80%;
    margin: 30px auto;
    padding: 1.5rem;
}

main h2 {
    color: #ff7e1b;
}

#colors {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
}

#primary {
    background-color: #ff7e1b;
    color: #0b083d;
    padding: 1.5rem;
    font-size: large;
    font-weight: 600;
    width: 100%;
    text-align: center;
}

#secondary {
    background-color: #0b083d;
    color: #ff7e1b;
    padding: 1.5rem;
    font-size: large;
    font-weight: 600;
    width: 100%;
    text-align: center;
}

#accent1 {
    background-color: #000000;
    color: #c60000;
    padding: 1.5rem;
    font-size: large;
    font-weight: 600;
    width: 100%;
    text-align: center;
}

#accent2 {
    background-color: #c60000;
    color: #000000;
    padding: 1.5rem;
    font-size: large;
    font-weight: 600;
    width: 100%;
    text-align: center;

}
#heading-example {
    font-size: 21px;
    color: #0b083d;
}

img {
    padding: 2rem;
    width: 40%;
    display: block;
    margin: 0 auto;
}

#wireframes p {
    text-align: center;
    font-size: 20px; 
    margin-bottom: 0;
}

footer {
    width: 80%;
    background-color: #ff7e1b;
    color: #0b083d;
    text-align: center;
    margin: 0 auto;
    padding: .5rem;
}


