@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Young+Serif&display=swap');

p {
    font-family: 'Montserrat', sans-serif;
    line-height: 2rem;
}

h1, h2, h3 {
    font-family: 'Young Serif', serif;
}

header{
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    font-family: 'Young serif', serif;
    background-color: #0b083d;
    color: #ff7e1b;
    width: 100%;
    margin: 0 auto;
    font-size: smaller;
}

header img{
    margin: 0 5%;
}

#mode {
	position: absolute;
	top: 10.5rem;
	right: 5rem;
	font-size: 3rem;
	cursor: pointer;
}

nav {
    margin: 20px auto;
    background-color: #0b083d;
    width: 90%;
}

.hero img{
    width: 100%;
    height: auto;
}

.hero {
    margin: 0 auto;
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
}

#menu {
    font-size: 2rem;
    padding: 1rem 2rem;
    border: 0;
    background-color: #0b083d;
}

#menu::before {
    content: "☰";
    color: #ff7e1b;
}

#menu.open::before {
    content: "❎";
}

.navigation li {
    display: none;
}

.navigation li a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #ff7e1b;
    font-family: 'Young Serif', serif;
    font-size: 2rem;
    margin: 0 auto;
}

.navigation li a:hover {
    background-color: #ff7e1b;
    color: #0b083d;

}

.active::before {
    content: "🏀";
}

.navigation li a:visited {
    color: #ff7e1b;
}

.navigation li a:visited:hover {
    color: #0b083d;
}

.open li {
    display: block;
    width: 100%;
}

.open li a {
    display: block;
}

.card {
    text-align: center;
    margin: 60px auto;
    padding: 1rem;
    background-color: #0b083d;
    color: #ff7e1b;
    width: 90%;
}

.card h2 {
    margin-bottom: 2rem;
}

.card a{
    font-family: 'Montserrat', sans-serif;
    color: #ff7e1b;
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}

#spotlights section {
    padding: 1rem;
    width: 70%;
    display: block;
    margin: 0 auto;
    text-align: center;
}

#spotlights {
    margin: 0 auto;
    margin-bottom: 60px;
    background-color: #0b083d;
    color: #ff7e1b;
    width: 90%;
}

footer {
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    background-color: #0b083d;
    color: #ff7e1b;
}

/* DISCOVER PAGE HTML */
#discover {
    margin: 50px auto;
}

.sidebar-box {
    padding: 2rem;
    margin: 60px auto;
    background-color: #0b083d;
    color: #ff7e1b;
}

.sidebar-box iframe {
    width: 100%;
    margin-bottom: 50px;
}

.sidebar-box h2 {
    text-align: center;
    margin-bottom: 50px;
}

#images {
    border: solid 1px black;
    text-align: center;
    padding-top: 30px;
    background-color: #0b083d;
}

#images img {
    margin: 30px auto;
}

