@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Young+Serif&display=swap');

header{
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    font-family: 'Young serif', serif;
}

header img{
    margin: 0 5%;
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
}

#menu {
    font-size: 1.5;
    border: 1px solid black;
    padding: 1rem 2rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❎";
}

.navigation li {
    display: none;
}

.navigation li a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
}

.open li {
    display: block;
    width: 100%;
}

.open li a {
    display: block;
}
