@media screen and (min-width: 1500px){
    header {
        width: 90%;
        margin: 0 auto;
        font-size: larger;
    }

    #mode {
        position: relative;
        top: 1px;
        right: 1px;
        width: fit-content;
    }

    nav {
        width: 90%;
    }

    .navigation {
        flex-direction: row;
        padding: 1.5rem;
        justify-content: space-around;
    }

    .navigation li {
        display: block;
    }

    .navigation li a {
        display: block;
    }

    #menu {
        display: none;
    }

    div {
        width: 90%;
        display: grid;
        grid-template-columns: 70% 30%;
    }
    
    .card {
        width: 80%;;
    }

    #info {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    #spotlights {
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    footer {
        width: 90%;
    }

    #small, #medium {
        display: none;
    }

    #large {
        display: block;
        position: absolute;
        top: 15px;
        left: 100px;
    }

}
