@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap');
* {
    font-family: 'Kanit', sans-serif;
}

header {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #3A405A;
    width: 1000px;
    margin: 0 auto;
    color: white;
    text-align: center;
}

header img {
    padding: 30px 0;
    margin: 0 auto;
}

header h1 {
    padding: 65px 0;
    font-size: 40px;
}

nav {
    max-width: 1000px;
    margin: 1rem auto;
}

#menu {
    font-size: 1.5rem;
    border: 1px solid black;
    padding: 1rem 2rem;
    background-color: #99B2DD;
}

.active::before {
    content: "🌮";
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❎";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #99B2DD;
}

.navigation li {
    display: none;
}

.navigation li a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.navigation li a:hover {
    color: #3A405A;
    text-decoration: underline;
}

.navigation li a:visited {
    color: none;
}

.open li {
    display: block;
    width: 100%;
}

.open li a {
    display: block;
}

main {
    width: 850px;
    margin: 0 auto;
    text-align: center;
}

main h2 {
    font-size: 35px;
    color: #3A405A;
}

main h2:after {
    content:' ';
    display:block;
    border:3px solid #3A405A;
}

.card {
    border: #F9DEC9 solid;
    display: grid;
    margin: 30px 0;
}

.card h3 {
    font-size: 30px;
    background-color: #F9DEC9;
    padding: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    color: #3A405A;
    height: fit-content;
}

.card ul {
    list-style: none;
    font-size: 20px;
}

.card ul li{
    padding: .8rem;
    text-align: left;
}

.card ul li a{
    color: black;
    text-decoration: none;
}

.card ul li a:visited{
    color: black;
}

.card ul li a:hover{
    text-decoration: underline;
}

.card ul p{
    display: inline;
}

footer {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    background-color: #3A405A;
    color: white;
}

footer p {
    font-size: 20px;
    padding: 15px 0;
}

#lastModified {
    padding-bottom: 30px;
    color: #F9DEC9;
}

#map {
    margin: 40px auto;
    width: 80%;
}

#map iframe {
    width: 100%;
}
